
@{
    ViewBag.Title = "Index";
}

<h2>Consultas</h2>

<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <img src="../Img/sunset-plane.jpg" class="card-img-top-small" alt="...">
                <h4 class="card-title"> Cantidad de pasajeros que llegaron <br /> o salieron entre dos fechas dadas </h4>
                <p class="card-text consultaVuelos"><small class="text-muted">En general o por cada aeropuerto</small></p>
                <p class="card-text">
                    @Html.ActionLink("Consultar", "CntPasajerosLlegadaSalida", new { }, new { @class = "botonGeneral colorCeleste" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <img src="../Img/sunset-plane.jpg" class="card-img-top-small" alt="...">
                <h4 class="card-title"> Cantidad de pasajeros que llegaron <br /> o salieron entre dos fechas dadas </h4>
                <p class="card-text consultaVuelos"><small class="text-muted">Filtrado por día específico </small></p>
                <p class="card-text">
                    @Html.ActionLink("Consultar", "CntPasajerosLlegadaSalidaDia", new { }, new { @class = "botonGeneral colorCeleste" })
                </p>
            </div>
        </div>
    </div>
</div>

